#sklep{
    color:red;
}

table{
    border-color: blueviolet;
}

#green{
    color:green;

}

#blue{
    color:blue;

}

#y{
    border-color:yellow;

}

body{
    background-color: rgb(219, 140, 138);
}